Briefing:

•	Encontrar uma problemática da vida real que possa ser solucionada através de análise de dados e machine learning.

De acordo com meu Projeto 1 sobre Análise de Crédito Bancário, pensei em estender para o tema “Detecção de fraudes financeiras”.

•	A ideia do projeto é explanar e justificar a relevância do uso de dados para encontrar a solução.

O setor financeiro é particularmente suscetível a fraudes, e as empresas precisam tomar medidas proativas para detectar e prevenir atividades fraudulentas. A análise de dados e machine learning pode ajudar a identificar padrões suspeitos nas transações financeiras e alertar as equipes de segurança em tempo real.

As fraudes podem ocorrer em várias formas (roubo de identidade, cartões de crédito clonados, transações fraudulentas, lavagem de dinheiro, etc...). É essencial para as empresas financeiras detectar e prevenir essas atividades fraudulentas em tempo real para minimizar perdas financeiras e proteger a reputação da empresa.

A análise de dados e machine learning podem ser usadas para detectar anomalias ou padrões suspeitos nas transações financeiras que podem indicar atividades fraudulentas. Esses padrões podem ser identificados usando modelos estatísticos e algoritmos de aprendizado de máquina treinados em grandes conjuntos de dados históricos.

As redes neurais, por exemplo, podem ser treinadas em uma grande quantidade de dados históricos de transações financeiras rotuladas como: fraudulentas ou não fraudulentas. Esses modelos podem detectar padrões suspeitos em novas transações e gerar alertas em tempo real. Além disso, a análise de dados pode ser usada para identificar perfis de usuários suspeitos ou transações incomuns que possam estar relacionados à atividade fraudulenta. Isso pode incluir a análise de informações de geolocalização, histórico de transações, perfil do usuário, entre outros. A análise desses dados pode ser usada para desenvolver modelos preditivos que possam detectar transações fraudulentas antes que elas ocorram.

•	Levante as fontes de dados públicas e não confidenciais para a coleta de informações.
1.	https://www.kaggle.com/datasets/paulosabinoreis/synthetic-financial-dataset-for-fraud-detection # análise inicial
2.	https://archive.ics.uci.edu/ml/index.php
3.	https://data.gov/
4.	https://fred.stlouisfed.org/

In [7]:
import pandas as pd
import numpy as np
import requests

Base_Dados = pd.read_csv("Base.csv")

Base_Dados.shape

(5090096, 11)

In [8]:
Base_Dados.sample(frac=0.1)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFlaggedFraud,isFraud
4345095,373,PAYMENT,14384.45,C742196299,336.00,0.00,M292961519,0.00,0.00,0,0
4909622,396,CASH_OUT,413554.17,C1264585089,60949.00,0.00,C862877465,0.00,413554.17,0,0
4976765,204,CASH_OUT,251290.29,C824715704,0.00,0.00,C565528556,301597.58,552887.87,0,0
1311514,187,CASH_IN,6129.11,C1691522681,51807.00,57936.11,C343543604,31643.08,25513.97,0,0
4732058,251,CASH_OUT,459779.53,C1054919471,334564.97,0.00,C1854370606,603370.95,1063150.47,0,0
...,...,...,...,...,...,...,...,...,...,...,...
634757,257,TRANSFER,403490.83,C384534399,0.00,0.00,C521208205,2698228.07,3101718.90,0,0
1277552,188,TRANSFER,89129.65,C1924686464,327462.54,238332.89,C1460064740,189217.14,278346.79,0,0
4736290,403,CASH_IN,55185.64,C706404326,38604.00,93789.64,C1876936021,0.00,0.00,0,0
2000951,204,CASH_IN,39158.35,C1465485885,17663437.99,17702596.34,C723134339,1536408.51,1497250.16,0,0
4758609,43,PAYMENT,12318.82,C1245691100,0.00,0.00,M2098713056,0.00,0.00,0,0

In [ ]:
Base_Dados.columns = ["Horas",
                     "Tipo",
                     "Quantia",
                     "ID",
                     "Antes_transacao",
                     "Depois_transacao",
                     ""]