# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
sinasc_raw = pd.read_csv("SINASC_RO_2019.csv")
sinasc_raw.info() # optei por esse método para relembrar o carater do arquivo e extrair o nome correto das colunas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27028 entries, 0 to 27027
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        27028 non-null  int64
 1   CODESTAB      26913 non-null  float64
 2   CODMUNNASC    27028 non-null  int64
 3   LOCNASC       27028 non-null  int64
 4   IDADEMAE      27028 non-null  int64
 5   ESTCIVMAE     26711 non-null  float64
 6   ESCMAE        26716 non-null  object
 7   CODOCUPMAE    24121 non-null  float64
 8   QTDFILVIVO    25455 non-null  float64
 9   QTDFILMORT    24930 non-null  float64
 10  CODMUNRES     27028 non-null  int64
 11  GESTACAO      25796 non-null  object
 12  GRAVIDEZ      26949 non-null  object
 13  PARTO         26979 non-null  object
 14  CONSULTAS     27028 non-null  int64
 15  DTNASC        27028 non-null  object
 16  HORANASC      27007 non-null  float64
 17  SEXO          27024 non-null  object
 18  APGAR1        26932 non-null  float64
 19  APGAR5        26925 non-null  float64
 20  RACACOR       26381 non-null  object
 21  PESO          27028 non-null  int64
 22  IDANOMAL      26437 non-null  float64
 23  DTCADASTRO    27028 non-null  object
 24  CODANOMAL     214 non-null    object
 25  NUMEROLOTE    27028 non-null  int64
 26  VERSAOSIST    27028 non-null  object
 27  DTRECEBIM     27028 non-null  object
 28  DIFDATA       27028 non-null  int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    26730 non-null  float64
 31  CODMUNNATU    26730 non-null  float64
 32  CODUFNATU     26730 non-null  float64
 33  ESCMAE2010    26779 non-null  float64
 34  SERIESCMAE    14318 non-null  float64
 35  DTNASCMAE     26988 non-null  float64
 36  RACACORMAE    26367 non-null  float64
 37  QTDGESTANT    25816 non-null  float64
 38  QTDPARTNOR    25149 non-null  float64
 39  QTDPARTCES    25237 non-null  float64
 40  IDADEPAI      7607 non-null   float64
 41  DTULTMENST    16956 non-null  float64
 42  SEMAGESTAC    25790 non-null  float64
 43  TPMETESTIM    25790 non-null  float64
 44  CONSPRENAT    26098 non-null  float64
 45  MESPRENAT     24161 non-null  float64
 46  TPAPRESENT    26763 non-null  float64
 47  STTRABPART    26081 non-null  float64
 48  STCESPARTO    26281 non-null  float64
 49  TPNASCASSI    26967 non-null  float64
 50  TPFUNCRESP    26961 non-null  float64
 51  TPDOCRESP     27014 non-null  float64
 52  DTDECLARAC    26976 non-null  float64
 53  ESCMAEAGR1    26779 non-null  float64
 54  STDNEPIDEM    27028 non-null  int64
 55  STDNNOVA      27028 non-null  int64
 56  CODPAISRES    27028 non-null  int64
 57  TPROBSON      27028 non-null  int64
 58  PARIDADE      27028 non-null  int64
 59  KOTELCHUCK    27028 non-null  int64
 60  CONTADOR      27028 non-null  int64
 61  munResStatus  27028 non-null  object
 62  munResTipo    27028 non-null  object
 63  munResNome    27028 non-null  object
 64  munResUf      27028 non-null  object
 65  munResLat     27027 non-null  float64
 66  munResLon     27027 non-null  float64
 67  munResAlt     27027 non-null  float64
 68  munResArea    27027 non-null  float64
dtypes: float64(38), int64(16), object(15)
memory usage: 14.2+ MB

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [3]:
sinasc_raw.groupby("munResNome")[["IDADEMAE", "IDADEPAI"]].mean().round()

                           IDADEMAE  IDADEPAI
munResNome
Alta Floresta D'Oeste          26.0      30.0
Alto Alegre dos Parecis        25.0      29.0
Alto Paraíso                   25.0      29.0
Alvorada D'Oeste               26.0      31.0
Ariquemes                      26.0      32.0
Buritis                        26.0      31.0
Cabixi                         26.0      34.0
Cacaulândia                    26.0      36.0
Cacoal                         27.0      31.0
Campo Novo de Rondônia         25.0      30.0
Candeias do Jamari             25.0      30.0
Castanheiras                   27.0      30.0
Cerejeiras                     27.0      32.0
Chupinguaia                    25.0      30.0
Colorado do Oeste              28.0      34.0
Corumbiara                     25.0      32.0
Costa Marques                  24.0      31.0
Cujubim                        24.0      31.0
Espigão D'Oeste                26.0      31.0
Governador Jorge Teixeira      24.0      29.0
Guajará-Mirim                  25.0      30.0
Itapuã do Oeste                26.0      42.0
Jaru                           26.0      32.0
Ji-Paraná                      26.0      31.0
Machadinho D'Oeste             25.0      31.0
Ministro Andreazza             28.0      34.0
Mirante da Serra               26.0      32.0
Monte Negro                    26.0      35.0
Município ignorado - RO        24.0      22.0
Nova Brasilândia D'Oeste       26.0      31.0
Nova Mamoré                    25.0      32.0
Nova União                     27.0      31.0
Novo Horizonte do Oeste        27.0      32.0
Ouro Preto do Oeste            26.0      31.0
Parecis                        26.0      32.0
Pimenta Bueno                  25.0      30.0
Pimenteiras do Oeste           25.0      36.0
Porto Velho                    26.0      32.0
Presidente Médici              26.0      30.0
Primavera de Rondônia          27.0      32.0
Rio Crespo                     27.0      28.0
Rolim de Moura                 27.0      30.0
Santa Luzia D'Oeste            26.0      31.0
Seringueiras                   25.0      30.0
São Felipe D'Oeste             26.0      31.0
São Francisco do Guaporé       26.0      32.0
São Miguel do Guaporé          26.0      33.0
Teixeirópolis                  26.0      32.0
Theobroma                      26.0      30.0
Urupá                          27.0      31.0
Vale do Anari                  26.0      34.0
Vale do Paraíso                26.0      30.0
Vilhena                        26.0      34.0

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [4]:
sinasc_raw["DTNASC"].head() # apenas para verificar o formato das datas

0    2019-02-19
1    2019-02-21
2    2019-02-25
3    2019-03-20
4    2019-03-23
Name: DTNASC, dtype: object

In [5]:
sinasc_raw[sinasc_raw["DTNASC"] == "2019-03-30"].groupby(["ESCMAE", "SEXO"])["PESO"].mean().round()

ESCMAE           SEXO
1 a 3 anos       Masculino    4205.0
12 anos ou mais  Feminino     3056.0
                 Masculino    2932.0
4 a 7 anos       Feminino     3343.0
                 Masculino    3129.0
8 a 11 anos      Feminino     3252.0
                 Masculino    3175.0
Name: PESO, dtype: float64

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [6]:
# pesquisei esse método - idxmin - extra para obter facilmente índice do valor mínimo
menos_bebes = sinasc_raw[sinasc_raw["munResNome"] != "Município ignorado - RO"].groupby("munResNome")["CONTADOR"].sum().idxmin()
menos_bebes

'Rio Crespo'

In [7]:
sinasc_raw[sinasc_raw["munResNome"] == "Rio Crespo"].groupby("munResNome").agg({"IDADEMAE":
                                                                                [("média", "mean"),
                                                                                 ("máx.", "max"),
                                                                                 ("mín.", "min")],
                                                                                "IDADEPAI":
                                                                                [("média", "mean"),
                                                                                 ("máx.", "max"),
                                                                                 ("mín.", "min")]}).round()

           IDADEMAE           IDADEPAI
              média máx. mín.    média  máx.  mín.
munResNome
Rio Crespo     27.0   39   16     28.0  28.0  28.0

In [8]:
# Verificando o porquê das estatísticas do pai serem iguais -> apenas no indice 34 há dado da idade do pai
sinasc_raw[sinasc_raw["munResNome"] == "Rio Crespo"][["IDADEMAE", "IDADEPAI"]].reset_index(drop=True)

    IDADEMAE  IDADEPAI
0         28       NaN
1         39       NaN
2         19       NaN
3         21       NaN
4         34       NaN
5         16       NaN
6         32       NaN
7         25       NaN
8         21       NaN
9         31       NaN
10        32       NaN
11        31       NaN
12        37       NaN
13        29       NaN
14        33       NaN
15        26       NaN
16        20       NaN
17        21       NaN
18        25       NaN
19        33       NaN
20        20       NaN
21        26       NaN
22        18       NaN
23        24       NaN
24        38       NaN
25        18       NaN
26        34       NaN
27        27       NaN
28        32       NaN
29        25       NaN
30        21       NaN
31        31       NaN
32        35       NaN
33        23       NaN
34        26      28.0
35        37       NaN
36        28       NaN
37        22       NaN
38        32       NaN
39        19       NaN
40        28       NaN
41        27       NaN
42        20       NaN
43        18       NaN
44        29       NaN
45        27       NaN
46        19       NaN
47        23       NaN
48        32       NaN
49        21       NaN

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [9]:
# essa restrição demandou mais trabalho para entender como fazer
sinasc_marco = sinasc_raw[pd.to_datetime(sinasc_raw["DTNASC"], format="%Y-%m-%d").dt.month == 3]

mais_bebes = sinasc_marco.groupby("munResNome")["CONTADOR"].sum().idxmax()
mais_bebes

'Porto Velho'

In [10]:
sinasc_marco[sinasc_marco["munResNome"] == "Porto Velho"].groupby("munResNome").agg({"QTDFILVIVO":
                                                                                 [("média", "mean"),
                                                                                 ("máx.", "max"),
                                                                                 ("mín.", "min")],
                                                                                 "IDADEMAE":
                                                                                [("média", "mean"),
                                                                                 ("máx.", "max"),
                                                                                 ("mín.", "min")],
                                                                                "IDADEPAI":
                                                                                [("média", "mean"),
                                                                                 ("máx.", "max"),
                                                                                 ("mín.", "min")]}).round()

            QTDFILVIVO           IDADEMAE           IDADEPAI
                 média máx. mín.    média máx. mín.    média  máx.  mín.
munResNome
Porto Velho        1.0  9.0  0.0     27.0   44   14     35.0  62.0  19.0

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Insights significativos sobre as respostas encontradas:
- nº1: Em todos os municípios, as mães são sempre mais novas que os pais dos bebês; com excessão do Município Ignorado. Essa discrepância pode indicar a herança da desigualdade de gênero, onde as mulheres tendem a engravidar em idades mais jovens, enquanto os homens adiam a paternidade. Isso pode ser influenciado por fatores socioeconômicos: como pressões sociais, expectativas familiares, acesso limitado à educação, oportunidades de trabalho restritas e falta de serviços de planejamento familiar eficazes.

- nº2: As meninas nascidas em Março de 2019 são mais pesadas; o que pode indicar mais saúde ao nascer, do que os meninos. Fato interessante, pois a sociedade patriarcal que cerca esse cenário transforma essa situação; desvalorizando as mulheres, mesmo elas nascendo mais fortes.

- nº3: Em Rio Crespo, nasceram 49 crianças no ano inteiro. Além de apresentar um valor absoluto baixíssimo para 365 dias (1 nascimento a cada 7 dias), como o Governo não tem dados do pai delas, há indicíos de que é uma região fragilisada: ou muita evasão paterna, ou muitos orfãos paternos. Para obter uma compreensão mais precisa e completa da situação, seria necessário um estudo mais aprofundado, com uma base de dados mais atualizada para uma análise sociodemográfica mais detalhada.

- nº4: Porto Velho é a capital do Estado, também é o município com mais nascimentos no ano todo de 2019 (em especial, também em Março), os dados estatísticos obtidos da capital reforçam o insight nº1; exibindo homogeneidade significativa nos dados, onde a maior amostra se assemelha ao conjunto completo.

In [11]:
sinasc_raw.dtypes

ORIGEM          int64
CODESTAB      float64
CODMUNNASC      int64
LOCNASC         int64
IDADEMAE        int64
               ...
munResUf       object
munResLat     float64
munResLon     float64
munResAlt     float64
munResArea    float64
Length: 69, dtype: object

In [12]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

,ESCMAE,GESTACAO,GRAVIDEZ,PARTO,DTNASC,SEXO,RACACOR,DTCADASTRO,CODANOMAL,VERSAOSIST,DTRECEBIM,munResStatus,munResTipo,munResNome,munResUf
0,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-19,Masculino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
1,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-21,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
2,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-25,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
3,12 anos ou mais,37 a 41 semanas,Única,Cesáreo,2019-03-20,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia
4,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-03-23,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27023,12 anos ou mais,32 a 36 semanas,Única,Cesáreo,2019-12-13,Masculino,Branca,2020-09-28,NaN,3.2.01,2020-10-13,ATIVO,MUNIC,Vilhena,Rondônia
27024,8 a 11 anos,37 a 41 semanas,Única,Vaginal,2019-10-04,Masculino,Branca,2019-10-16,NaN,3.2.01,2019-10-21,ATIVO,MUNIC,Chupinguaia,Rondônia
27025,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-08-02,Masculino,Parda,2019-08-07,NaN,3.2.00,2019-08-07,ATIVO,MUNIC,Vilhena,Rondônia
27026,8 a 11 anos,32 a 36 semanas,Única,Vaginal,2019-12-23,Masculino,Parda,2020-01-07,NaN,3.2.00,2020-01-07,ATIVO,MUNIC,Vilhena,Rondônia
27027,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-12-27,Masculino,Parda,2020-10-15,NaN,3.2.01,2020-10-16,ATIVO,MUNIC,Novo Horizonte do Oeste,Rondônia

In [13]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')